.Events-parent {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: black;
  color: white;
}

.title-event1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin-left: 10%;
  color: white;
}

.year-event {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 5%;
  background-color: white;
  padding: 10px;
}

.button-event {
  border-width: 0px;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  color: white;
  background-color: gray;
}

.button-event:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.text-event {
  color: black;
}

@media screen and (min-width: 200px) and (max-width: 800px) {
  .year-event {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
    border-radius: 10px;
    margin: 5%;
    background-color: white;
    padding: 10px;
  }
}
