.title-year-2019{
  margin-bottom: 5%;
}

.row-2019-main{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
}

.row-2019 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column-2019 {
    flex: 25%;
    max-width: 18%;
    padding: 0 4px;
  }
  
  .column-2019 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .ani:hover{
    transform: scale(1.1);
    transition: 0.7s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  .column-main-2019 img{
    max-width: 36%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (min-width: 200px) and (max-width: 800px) {
    .row-2019-main{
      margin-bottom: 5%;
    }
    
    .column-2019 {
      flex: 50%;
      max-width: 75%;
      padding: 0;
    } 

    .row-2019{
      padding: 0;
    }

    .column-2019 img {
        margin-top: 8px;
        width: 80%;
        -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
      }
    
      .column-main-2019 img{
        max-width:92%;
        -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
      }
  } 
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
